$cardWidth: 312px;
$cardHeight: 424px;
$imageSide: 164px;
$avatarSide: 80px;
$inkDark: #222C35;
$inkLighter: #919CAB;
$inkLight: #636F81;
$gray: #E1E6EA;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@mixin text-styles ($color, $line-height, $font-size, $font-weight) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    text-align: center;
    color: $color;
}

.card-wrapper {
    width: $cardWidth;
    height: $cardHeight;
    border-radius: 3px;
    box-shadow: 0px 0px 0px rgba(34, 44, 53, 0.05), 0px 1px 3px rgba(34, 44, 53, 0.15);
    justify-self: center;
    background-color: #fff;
}

.image-block {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 6px;
    padding-top: 8px;
    overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}
.image-block::-webkit-scrollbar {
    display: none;
  }

.post {
    margin-left: 2px;
    margin-right: 2px;
}

.info-block {
    height: 156px;
}

.avatar {
    margin: auto;
    border-radius: 50%;
    margin-top: -44px;
}

.info-block a {
    text-decoration: none;
}

.info-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 156px - 17px;
}

.name, .age-gender-type, .content-topic, .followers, .name-social {
    margin: 0;
}

.name {
    @include text-styles($inkDark, 24px, 16px, 500);
    position: absolute;
    top: 44px + 7px;
}

.age-gender-type {
    @include text-styles($inkLighter, 20px, 14px, normal);
    position: absolute;
    top: 44px + 7px + 22px;
}

.content-topic {
    @include text-styles($inkLight, 24px, 16px, normal);
    margin-bottom: 10px;
}

.divider {
    width: 48px;
    height: 2px;
    background: $gray;
}

.social-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 266px;
    height: 69px;
    margin: 0 auto;
}

.item-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.followers {
    @include text-styles($inkDark, 20px, 14px, 500);
    margin-top: 7px;
}

.name-social {
    @include text-styles($inkLighter, 20px, 14px, normal);
}